<a href="https://colab.research.google.com/github/rijulsharma/10-Days-of-Data-Science-and-ML/blob/master/collaborative_filtering_anime.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importing the data from kaggle

In [8]:
! pip install -q kaggle
from google.colab import files
files.upload()

KeyboardInterrupt: ignored

In [4]:
!mkdir -p ~/.kaggle/
!cp kaggle.json ~/.kaggle/
!chmod 600 ~/.kaggle/kaggle.json

In [5]:
!kaggle datasets download -d CooperUnion/anime-recommendations-database

anime-recommendations-database.zip: Skipping, found more recently modified local copy (use --force to force download)

Importing the libraries

In [9]:
import pandas as pd
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity
from scipy import sparse

In [10]:
anime=pd.read_csv("anime.csv")
anime.head()

   anime_id                              name  ... rating members
0     32281                    Kimi no Na wa.  ...   9.37  200630
1      5114  Fullmetal Alchemist: Brotherhood  ...   9.26  793665
2     28977                          Gintama°  ...   9.25  114262
3      9253                       Steins;Gate  ...   9.17  673572
4      9969                     Gintama&#039;  ...   9.16  151266

[5 rows x 7 columns]

In [11]:
rating=pd.read_csv("rating.csv")
rating.head()

   user_id  anime_id  rating
0        1        20      -1
1        1        24      -1
2        1        79      -1
3        1       226      -1
4        1       241      -1

Replacing '-1' (Nan) values with 0

In [12]:
rating['rating'] = rating['rating'].replace(-1,0)
rating.head()

   user_id  anime_id  rating
0        1        20       0
1        1        24       0
2        1        79       0
3        1       226       0
4        1       241       0

In [13]:
anime_tv = anime[anime['type']=='TV']
anime_tv.head()

   anime_id                                               name  ... rating members
1      5114                   Fullmetal Alchemist: Brotherhood  ...   9.26  793665
2     28977                                           Gintama°  ...   9.25  114262
3      9253                                        Steins;Gate  ...   9.17  673572
4      9969                                      Gintama&#039;  ...   9.16  151266
5     32935  Haikyuu!!: Karasuno Koukou VS Shiratorizawa Ga...  ...   9.15   93351

[5 rows x 7 columns]

In [19]:
merged_table = rating.merge(anime_tv, left_on = 'anime_id', right_on = 'anime_id', suffixes= ['_user', ''])
merged_table.head()

   user_id  anime_id  rating_user    name  ... type episodes rating  members
0        1        20            0  Naruto  ...   TV      220   7.81   683297
1        3        20            8  Naruto  ...   TV      220   7.81   683297
2        5        20            6  Naruto  ...   TV      220   7.81   683297
3        6        20            0  Naruto  ...   TV      220   7.81   683297
4       10        20            0  Naruto  ...   TV      220   7.81   683297

[5 rows x 9 columns]

In [23]:
merged=merged[['user_id', 'name', 'rating_user']]
merged.head()

   user_id    name  rating_user
0        1  Naruto            0
1        3  Naruto            8
2        5  Naruto            6
3        6  Naruto            0
4       10  Naruto            0