<a href="https://colab.research.google.com/github/rijulsharma/10-Days-of-Data-Science-and-ML/blob/master/salary_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importing libraries

In [ ]:
import pandas as pd

Loading the dataset

In [ ]:
df= pd.read_csv('salary.csv')
df.head()

   Serial No  percentage  salary
0          1       62.00  270000
1          2       76.33  200000
2          3       72.00  240000
3          4       60.00  250000
4          5       61.00  180000

Removing unnecessary columns

In [ ]:
df.drop('Serial No',inplace=True,axis=1)
df.head()

   percentage  salary
0       62.00  270000
1       76.33  200000
2       72.00  240000
3       60.00  250000
4       61.00  180000

splitting half of the data into training and other half into testing dataset

In [ ]:
from sklearn.model_selection import train_test_split
X = df.iloc[:, :-1].values
y = df.iloc[:, 1].values
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=1/2,)

Applying LinearRegression class from sklearn

In [ ]:
from sklearn.linear_model import LinearRegression
regress = LinearRegression()
regress.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

Predicting salary from user input percentage

In [ ]:
predict = regress.predict(X_test)

In [ ]:
n=int(input("Enter Your Percentage: "))
new_salary_pred = regress.predict([[n]])
print('Your Predicted Salary is:  ',new_salary_pred)

Enter Your Percentage: 65
Your Predicted Salary is:   [224986.91971189]